<!-- Loads the static files -->
{% load staticfiles %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />


<body>
  <nav class="navbar navbar-inverse sticky-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-target="#topNavBar" data-toggle="collapse">
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </button>
        <a class="navbar-brand" href="{% url 'music:index' %}">Viberr</a>
      </div>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li >
          ma
        </li>
      </ul>
    </div>
<!--
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 3</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0" method="get" action="#">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"/>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
-->

  </nav>

  {% if all_albums %}
    <h3>Albums: <br /></h3>
    <ul>
      {% for album in all_albums %}
        <li>
           <h4><a href= "{%url 'music:detail' album.id%}"/>{{album.title}}</a></h4>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <h2>You don't have any albums stored</h2>
  {% endif %}
</body>
